In [2]:
import pandas as pd

# we import the data using pandas.read_csv

In [3]:
df=pd.read_csv("Dataset.csv",parse_dates=['Sampling date'])

# we display first 20 rows of the dataset

In [4]:
df.head(20)

,Crop,Sampling date,Plot No.,Irrigation Status,Treatments,Trmt No.,Tillage,Residue,Irrigation,Soil depth (cm),Ece (dS/m)
0,Rice,2008-06-13,221,BI,ZT_R_25,4,2,1,1,10.0,4.483
1,Rice,2008-06-13,221,BI,ZT_R_25,4,2,1,1,10.0,3.554
2,Rice,2008-06-13,221,BI,ZT_R_25,4,2,1,1,20.0,1.837
3,Rice,2008-06-13,221,BI,ZT_R_25,4,2,1,1,30.0,1.433
4,Rice,2008-06-13,221,BI,ZT_R_25,4,2,1,1,50.0,1.574
5,Rice,2008-06-13,221,BI,ZT_R_25,4,2,1,1,80.0,3.473
6,Rice,2008-06-13,221,BI,ZT_R_25,4,2,1,1,NaN,1.897
7,Rice,2008-06-13,113,BI,BP_R_100,3,1,3,1,10.0,5.463
8,Rice,2008-06-13,113,BI,BP_R_100,3,1,3,1,20.0,3.554
9,Rice,2008-06-13,113,BI,BP_R_100,3,1,3,1,30.0,4.968
10,Rice,2008-06-13,113,BI,BP_R_100,3,1,3,1,50.0,3.433
11,Rice,2008-06-13,113,BI,BP_R_100,3,1,3,1,80.0,2.423
12,Rice,2008-06-13,113,BI,BP_R_100,3,1,3,1,NaN,1.271
13,Rice,2008-06-13,113,BI,BP_R_100,3,1,3,1,10.0,11.270
14,Rice,2008-06-13,113,BI,BP_R_100,3,1,3,1,10.0,5.109
15,Rice,2008-06-13,113,BI,BP_R_100,3,1,3,1,20.0,3.029
16,Rice,2008-06-13,113,BI,BP_R_100,3,1,3,1,30.0,3.433
17,Rice,2008-06-13,111,BI,BP_R_25,1,1,1,1,10.0,6.503
18,Rice,2008-06-13,111,BI,BP_R_25,1,1,1,1,20.0,12.624
19,Rice,2008-06-13,111,BI,BP_R_25,1,1,1,1,30.0,4.180

# we view the information and summary of the dataset

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6082 entries, 0 to 6081
Data columns (total 11 columns):
Crop                 6082 non-null object
Sampling date        6082 non-null datetime64[ns]
Plot No.             6082 non-null int64
Irrigation Status    6082 non-null object
Treatments           6082 non-null object
Trmt No.             6082 non-null int64
Tillage              6082 non-null int64
Residue              6082 non-null int64
Irrigation           6082 non-null int64
Soil depth (cm)      6058 non-null float64
Ece (dS/m)           6082 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(3)
memory usage: 522.8+ KB

In [15]:
df=df.dropna()

In [4]:
df.columns

Index(['Crop ', 'Sampling date', 'Plot No.', 'Irrigation Status', 'Treatments',
       'Trmt No.', 'Tillage', 'Residue', 'Irrigation', 'Soil depth (cm)',
       'Ece (dS/m)'],
      dtype='object')

In [1]:
import numpy as np

# we slice only the columns of dataset which contains continous values

In [6]:
(df.loc[:,['Soil depth (cm)','Ece (dS/m)']])

      Soil depth (cm)  Ece (dS/m)
0                10.0       4.483
1                10.0       3.554
2                20.0       1.837
3                30.0       1.433
4                50.0       1.574
...               ...         ...
6077             10.0       0.968
6078             20.0       0.685
6079             30.0       0.605
6080             50.0       0.625
6081             80.0       0.564

[6082 rows x 2 columns]

# we find the maximum values of the columns

In [30]:
minimum=np.amax((df.loc[:,['Soil depth (cm)','Ece (dS/m)']]),axis=0)

# we find the minimum values of the columns

In [31]:
maximum=np.amin((df.loc[:,['Soil depth (cm)','Ece (dS/m)']]),axis=0)

# we find the 25 percentile values of the columns

In [32]:
lquartile=np.percentile((df.loc[:,['Soil depth (cm)','Ece (dS/m)']]),25,axis=0)

# we find the 75 percentile values of the columns

In [33]:
uquartile=np.percentile((df.loc[:,['Soil depth (cm)','Ece (dS/m)']]),75,axis=0)

# we find the median values of the columns

In [34]:
med=np.median((df.loc[:,['Soil depth (cm)','Ece (dS/m)']]),axis=0)

# we find the mean values of the columns

In [35]:
mean=np.mean((df.loc[:,['Soil depth (cm)','Ece (dS/m)']]),axis=0)

In [39]:
minimum=(np.array(minimum)
maximum=np.array(maximum)
mean=np.array(mean)

# we merge the values in a dictionary

In [43]:
d=dict([('minimum',list(minimum)),('maximmum',list(maximum)),('median',list(med)),('25 percentile',list(lquartile)),('75 percentile',list(uquartile)),('mean',list(mean))])

# we store and display the summary in a pandas dataframe

In [49]:
summary=pd.DataFrame(d,index=['Soil depth(cm)','Ece (dS/m)'])

In [51]:
summary

,minimum,maximmum,median,25 percentile,75 percentile,mean
Soil depth(cm),80.000,10.000,30.000,10.000,50.000,32.783097
Ece (dS/m),16.542,0.342,1.231,0.908,1.736,1.600548